/* CSS Document */
/**** BROWSER STYLE ****/
/** Radius :
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
**/
/** Shadow :
	-moz-box-shadow: 2px 2px 3px #333232;
    -webkit-box-shadow: 2px 2px 3px #333232;
    box-shadow: 2px 2px 3px #333232;
	// For IE 8 
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#333232)";
    // For IE 5.5 - 7 
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#333232');
**/
/** Gradient :
	background-image: -moz-linear-gradient(top, #b7dcff, #76bdff);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#b7dcff),color-stop(1,#76bdff));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#b7dcff', EndColorStr='#76bdff')"; 
**/	
body { background:#FFF;font: 14px "Microsoft Yahei","Helvetica Neue LT Std 45 Light", "Segoe UI", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Arial", sans-serif; margin: 0px; }
.corner{-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.big_corner{-moz-border-radius: 15px;-webkit-border-radius: 15px;border-radius: 15px;}
.shadow{-moz-box-shadow: 2px 2px 8px #333232; -webkit-box-shadow: 2px 2px 8px #333232; -o-box-shadow: 2px 2px 8px #333232; box-shadow: 2px 2px 8px #333232;}
::-webkit-input-placeholder { color:#BBBBBB; }
::-moz-placeholder { color:#BBBBBB; } /* firefox 19+ */
:-ms-input-placeholder { color:#BBBBBB; } /* ie */
input:-moz-placeholder { color:#BBBBBB; }

a {
  color: #26619a;
}
/** Menu **/
#top_nav_bar{margin-bottom: 0px;}
.menu_bar{
	padding: 40px 100px 40px 100px;
	background-color: #FFF;	
}
.menu_logo.brand{
	padding: 0;
	color: #26619a;
	cursor: pointer;
}
.menu_item{
	cursor: pointer;
	font-size: 15px;
	margin: 0px 10px 0px 10px;
	/* Transition */
	-webkit-transition: background 0.1s ease-out; 
	-moz-transition: background 0.1s ease-out; 
	-o-transition: background 0.1s ease-out; 
	transition: background 0.1s ease-out;
}
.menu_item .caret{
	margin: 0px 0px 0px 5px;
	vertical-align: middle;
}
.menu_item .dropdown-menu{
	right: auto !important;
}
.menu_item#login a{
	color: #26619a;
}

/** Carousel **/
#carousel .carousel-control{
	height: 80px;
	margin-top: 0px;
	font-size: 120px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	background-color: transparent;
	border: 0;
}
#carousel .item{
	height: 400px;
}
#carousel .item img{
	min-width: 800px;
	z-index: 0;
}
#carousel .item .container{
	position: absolute;
	top: 50%;
	margin-top: -100px;
	width: 100%;
	text-align: center;
	z-index: 0;
}
#carousel .carousel-caption{
	background-color: transparent;
	position: relative;
	/*max-width: 550px;*/
	margin: 0 auto;
	/*padding: 0 20px;*/
	z-index: 1;
}
#carousel .carousel-caption h1,#carousel .carousel-caption .lead{
	margin: 0;
	line-height: 1.25;
	color: #FFF;
	text-shadow:0 1px 1px rgba(0,0,0,0.4);
}
#carousel .carousel-caption h1{
	padding: 40px;
}
#carousel .carousel-caption .lead{
	display: inline-block;
	font-size: 18px;
	/*max-width: 550px;*/
	padding: 10px;
	background-color: rgba(0,0,0,0.3);
}

/** Hero_info Template **/
#info-content{
	margin-bottom: 0px;
}
#hero_holder{
	background-color: #FFF;
	padding: 50px;
}
#hero_holder .title{
	padding: 30px 30px 10px 30px;
	font-size: 20px;
}
#hero_holder .sub-title{
	padding: 10px 30px 10px 30px;
	font-size: 18px;
	font-weight: bold;
}
#hero_holder p{
	padding: 10px 30px 10px 30px;
	font-size: 16px;
}

/** Search **/
.search_holder{
	width: 100%;
	height: 100%;
	padding-top: 80px;
	position: relative;
	color: #3d87cf
	z-index: 0;
	/* Border Box */
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.search_bar_bg{ 
	height: 800px;
	padding-top: 150px;
	background: url(../images/search_bar_bg_blur.jpg) 10% 1200px;
	/* Border Box */
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	/*background-size: 100%;*/
}
.search_bar{
	width: 650px;
	margin: 0 auto;
	position: relative;
	font-size: 20px;
	/* Border Box */
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.search_bar input{
	width: 600px;
	padding: 15px;
	font-size: 30px;
	border: solid 3px #BBBBBB;
	/* Box Shadow */
	-moz-box-shadow: inset 0 0 8px #999999;
	-webkit-box-shadow: inset 0 0 8px #999999;
	box-shadow: inner 0 0 8px #999999;
	overflow: hidden;
}
@media (max-width: 700px){
	.search_bar{width: auto; padding: 10px;}
	.search_bar label{display: block;}
	.search_bar input{width: auto;}
}
.search_bar label{
	color: #FFF;
}

/** Recent jobs **/
.recent_jobs_holder{
	margin: 150px 80px 80px 80px;
	padding: 30px;
	background-color: #FFF;
}
.hot_jobs{
	font-size: 25px;
}
.job {
	padding: 20px;

}
.job .job-name{
	font-size: 18px;
}

/** For Blank **/
#blank{
	height: 50px;
}

/** Footer **/
.footer{
	text-align: center;
	padding: 60px;
	border-top: 1px solid #E5E5E5;
	bottom: 0px;
	background-color: #F5F5F5;
}
.footer-links{
	text-align: right;
	overflow: hidden;
}
.footer-links li{
	margin: 0px 10px 0px 10px;
	color: #BBBBBB;
	text-align: center;
	list-style: none;
	float: left;
}
