<head>
	<title><%= title %> - Microblog</title>
<link rel='stylesheet' href='/stylesheets/bootstrap.css' /> <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
} </style>
<link href="stylesheets/bootstrap-responsive.css" rel="stylesheet"> </head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
￼￼￼<div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Microblog</a>
      <div class="nav-collapse">
<ul class="nav">
<li class="active"><a href="/">Main</a></li> <li><a href="/login">Login</a></li>
<li><a href="/reg">Register</a></li>
</ul> </div>
    </div>
  </div>
</div>
<div id="container" class="container">
  
<div class="hero-unit">
<h1>Microblog</h1>
<p>By Node.js</p> <p>
<a class="btn btn-primary btn-large" href="/login">Login</a>
<a class="btn btn-large" href="/reg">Register</a> </p>
</div>
<div class="row"> <div class="span4"> <h2>Carbo Said:</h2>
<p>Please don't snow</p> </div>
<div class="span4"> <h2>BYVoid Said:</h2>
<p> WTF !</p>
</div>
<div class="span4">
<h2>Fo Said</h2>
<p>Please refer to http://code.google.com/p/rimeime/ </p>
      </div>
    </div>
   <hr />
          <footer>
<p><a href="http://www.byvoid.com/" target="_blank">BYVoid</a> 2012</p> </footer>
        </div>
      </body>
      <script src="/javascripts/jquery.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
    </html>